[submodule "lib/BLAKE3"]
	path = lib/BLAKE3
	url = git@github.com:BLAKE3-team/BLAKE3.git
[submodule "lib/libbech32"]
	path = lib/libbech32
	url = git@github.com:dcdpr/libbech32.git
[submodule "lib/bls-signatures"]
	path = lib/bls-signatures
	url = git@github.com:Chia-Network/bls-signatures.git
